@media screen and (max-width: 1400px) {
    h1 {
        padding-top: 80px;
        margin-left: 100px;
        font-size: 70px;
    }
    .aboutUs h2 {
        padding-top: 50px;
    }
    h2 {
        font-size: 40px;
    }
    h2:after {
        width: 110px;
      }
    h3 {
        font-size: 26px;
    }
    .aboutUs {
        padding: 50px 0;
    }
    .aboutUs-img {
        max-width: 300px;
        max-width: 300px;
    }
    .services__grid {
        padding-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
        margin: 0 100px;
        grid-template-areas: 
        "one one"
        "two two"
        "three three";
    }
    .services__contant2 {
        order: 0;
        
    }
    .services__contant3 {
        order: -1;
        align-content: center;
    }
    .services {
        padding: 40px 0;
    }
    .service-img {
        width: 100%;
        height: 100%;
        
    }
    .services__card h3,p {
        width: 100%;
        
    }
    .footer__info p {
        text-align: justify;
        max-width: 500px;
    }
    /* .services__content img {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    .services__content img {
        max-width: 1300px;
        display: block;
        margin: 0 auto;
        margin-top: -240px;
    } */
}
@media screen and (max-width: 1200px) {
    h1 {
        padding-top: 60px;
        margin-left: 30px;
        font-size: 55px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
    .services__flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 50px;
    }
    .service-img {
        max-width: 300px;
        max-height: 300px; 
    }
    .header_btn {
  
        margin-left: 30px; 
    }
    .services__content-item p {
        max-width: 400px;
    }
    .services__content img {
        margin-top: -400px;
    }
}
@media screen and (max-width: 1024px) {
    h1 {
        padding-top: 50px;
        margin-left: 15px;
        font-size: 50px;
    }
    
    h2 {
        font-size: 32px;
    }
    h2:after {
        width: 90px;
      }
    li a {
        margin: 30px 15px;
    }
    .aboutUs__flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .aboutUs-img {
        max-width: 350px;
        max-width: 350px;
    }
    .services__grid {
        margin: 0;
    }
    .contant-p {
        max-width: 400px;
        text-align: justify;  
    }
    .aboutUs h2 {
        padding-top: 80px;
    }
    .footer {
        padding: 20px 0;
    }
    .footer__flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer__info {
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .connect p {
        text-align: center;
    }
    .footer__link {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .footer__contact {
        margin: 0 auto;
    }
    .fa {
        font-size: 40px;
        margin: 0 auto;
        margin-top: 10px;
    }
    .footer__link li {
        text-align: center;
    }
    .services__content-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .services__content-item {
        margin: 20px 0;
        transform: translateY(0%);
        left: 0%;
        padding: 20px 15px;
    }
    .services__content-item p {
        max-width: 100%;
    }
    .services__content img {
        margin: 0 auto 15px;
        max-height: 100%;
    }
    .aboutUs__flex-img {
        width: 100%;
        margin-right: 0px;
        display: block;
        margin: 0 auto;
    }
    .aboutUs__flex-content p {
        max-width: 100%;
    }
    .choose__flex-content-card .fa {
        margin-right: 40px;
    }
    .aboutUs__flex-content h3 {
        font-size: 40px;
    }
    .choose__flex-content-card h4 {
        font-size: 20px;
    }
    .choose__flex-content {
        padding: 20px 10px;
    }
    .aboutUs__flex-content {
        padding: 40px 15px;
    }
   
    .text-h3.box {
        margin-bottom: 0px;
    }
    .contact-icon i {
        font-size: 20px;
        left: 0px;
        margin-right: 10px;
        top: 5px;
        margin-left: 15px;
    }
    .title-phone {
        font-size: 18px;
        margin-top: 12px; 
    }
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 26px;
    }
    h1:after {
        width: 180px;
      }
    .aboutUs__flex {
        display: flex;
        flex-direction: column;
    }
    .background {
        height: 35vh;
    }
    .aboutUs__flex h2 {
        padding-top: 0px;
        margin: 0 auto;
    }
    .aboutUs__flex .contant {
        
        margin: 30px auto;
    }
    .aboutUs__flex img {
        margin: 0 auto;
    }
    .aboutUs {
        padding: 40px 0;
    }
    .navbar {
        position: absolute;
        left: -300px;
        top: 0;
        background-color: #F4F8FD;
        padding: 50px 20px 20px 20px;
        width: 300px;
        transition: transform .5s;
    }
    .navbar ul, button {
        display: block;
    }
    .header_btn {
        margin-left: 0px; 
    }
    .menu__link {
        padding: 20px 0;
        display: block;
    }
    .header.open .navbar {
        transform: translateX(100%);
    }
    .services__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "one"
        "two"
        "three";
        gap: 40px;
    }
    .services__contant3 {
        order: 0;   
    }
    .services__card h3,p {
        
        max-width: 500px;
    }
    .service-img {
        margin: 0 auto 30px;
    }
    .header__burger-btn {
        display: block;
    }
    .choose {
        background-size: cover;
        padding: 30px 0;
    }
    .choose__flex-content-card {
        flex-wrap: wrap;
    }
    .choose__flex {
        flex-wrap: wrap;
    }
    .choose__flex h3 {
       text-align: center;
       display: block;
       margin: 0 auto;
       margin-bottom: 30px;
    }
    .choose__flex h3::after {
        margin: 0 auto;
    }
    .choose__flex-content-card {
        max-width: 100%;
        
    }
    .choose__flex-content-card h4 {
        text-align: center;
    }
    .choose__flex-content-card p {
        text-align: center;
    }
    .choose__flex-content-card .fa {
        transform: translateY(0) rotate(90deg);
        margin: 0 auto;
    }
    .aboutUs__flex-content h3 {
        font-size: 30px;
    }
    .choose__flex h3 {
        font-size: 28px;
    }
    .contact__form {
        display: block;
        width: 100%;
    }
    .name__form {
        width: 100%;
    }
    .email__form {
        width: 100%;
    }
    .message__form {
        width: 100%; 
    }
    .message-btn {
        width: 100%;
        font-size: 14px;
    }
        iframe {
        max-width: 100%;
    }
    .services__content img {
        max-width: 100%;
    }

}
@media screen and (max-width: 480px) {
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 24px;
    }
    h2:after {
        width: 70px;
      }
    p {
        font-size: 14px;
    }
    .aboutUs-img {
        width: 100%;
        height: 100%;
    }
    .service-img {
        width: 100%;
        height: 250px;
    }
    .services__card p {
        margin-bottom: 10px;
    }
    .aboutUs__flex-content h3 {
        font-size: 24px;
    }
    
    
}